.massButton {
 
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/pen.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  margin: 4px 2px;
  border-radius: 50%;
  position:fixed;
  top:35px;
  right:20px;
  z-index:99;
  cursor:pointer;
  background-size: cover;
}

.massForms{
  background-color: blue;
  opacity: .85;
  padding: 20px;
  color: rgba(255,255,255,.9);
  position: fixed;
  top:80px;
  right:20px;
  
  

}

.massFormButton{
background-color: red;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: white;
  margin: 4px 2px;
  width:25%;
  cursor:pointer;
  border-radius: 20px;
}
.counter{
	margin-top:15px;
}

#sNumber{
  background-color: green;
  border: none;
  color: white; 
  text-align: center;
  text-decoration: none;
  display: float;
  float:right;
  font-size: 16px;
  color: white;
  margin: 4px 2px;
  border-radius: 50%;
  width:20px


}
#eNumber{
  background-color: red;
  border: none;
  color: white; 
  text-align: center;
  text-decoration: none;
  display: float;
  float:right;
  font-size: 16px;
  color: white;
  margin: 4px 2px;
  border-radius: 50%;
  width:20px
  

}

#backButton{
  background-color: red;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  width:50%;
  cursor:pointer;
  border-radius: 20px;
}


}